main.about
	{
		grid-area: 2/1/4/8;
		padding-right:25%;
		padding-left: 25%;
		padding-bottom:15%;
		padding-top:80px;
	}
main.about h1
	{
		margin-bottom:80px;
	}
main.about p
	{
		font-size:20px;
		margin-top:20px;
		margin-bottom:20px;
	}
@media screen and (min-width:641px) and (max-width:1024px)
	{
		main.about
			{
				padding-right:15vw;
				padding-left:15vw;
				padding-bottom:15vw;
			}
		main.about h1
			{
				font-size:44px;
			}
	}
@media screen and (max-width:640px)
	{
		main.about
			{
				padding-right:10vw;
				padding-left: 10vw;
				padding-bottom:15vw;
				padding-top:30px;
			}
		main.about h1
			{
				font-size:36px;
				margin-bottom:20px;
				text-align: left;
			}
		main.about p
			{
				font-size:16px;
			}
	}